<!DOCTYPE html>
<html>
	<head>
		<title>JavaScript</title>	
	</head>


	<body>    
		<h1>Here is an example of JavaScript</h1> 
		<button type="button" onclick="document.getElementById('demo').innerHTML = Date()">
			Click me.
		</button>
		<p id="demo"></p>


		<h1>Interested in learning more about JavaScript?</h1>
		<ul>
			<li><a href = "https://www.w3schools.com/js/DEFAULT.asp">W3Schools</a></li>
			<li><a href = "https://www.codecademy.com/learn/introduction-to-javascript">CodeAcademy</a></li>
			<li><a href = "https://www.learn-js.org/">Learn JS</a></li>
		</ul>

	</body>
</html> 
